/frontend/node_modules
/frontend/.env*
frontend/server.*

backend/.env*
backend/authwithfirebase-d23d5-firebase-adminsdk-fbsvc-1b2b588077.json
backend/server.*

#sonarqube
/bin
/conf
/.scannerwork
/jre
/lib

#docker
docker-compose.yml
noteDocker.txt
cloud-docker-compose.yml
test.txt
nginx-proxy/nginx.txt